:root {
  --system-font: -apple-system, BlinkMacSystemFont, "avenir next",
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --unit: 1.2rem;
  --max-width: 2100rem;
  --ease: 200ms ease;
  --ease-qubic: 700ms cubic-bezier(0.8, 0, 0.16, 1);
  // z-index
  --zmax: 9999;
  --z5: 5;
  --z4: 4;
  --z3: 3;
  --z2: 2;
  --z1: 1;
  --z0: -1;
  --zmin: -9999;
  // color
  --color-font: #fff;
  --color-active: #e75656;
  --text-light: rgba(255, 255, 255, 0.76);
  // --bg-vlight: rgba(255, 255, 255, 0.32);
  // --bg-light: rgba(255, 255, 255, 0.2);
  // --bg: rgba(255, 255, 255, 0.1);
  // --bg-dark: rgba(0, 0, 0, 0.32);
  // --bg-mdark: rgba(0, 0, 0, 0.72);
  // --bg-vdark: rgba(0, 0, 0, 0.88);
  --bg-light: rgba(255, 255, 255, 0.1);
  --bg: #0f0f0f;
  --bg-dark: #2f2e2e;
  --bg-vdark: #222121;
  // border
  --border-dark: 0.5px solid rgba(255, 255, 255, 0.24);
  --border: 0.5px solid rgba(255, 255, 255, 0.2);
  --border-light: 0.5px solid rgba(255, 255, 255, 0.1);
  --radius-xs: 2px;
  --radius-sm: 5px;
  --radius-md: 9px;
  --radius-lg: 11px;
  --radius-xl: 15px;
  // font
  --font-xxs: 1.1rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font: 1.5rem;
  --font-md: 1.6rem;

  // shadow
  --shadow-inset: 0px -1px 0px 0px #000 inset,
    0px 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
  --shadow-sm: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  --shadow: 0 18px 60px 0px rgba(0, 0, 0, 0.4),
    0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  --shadow-heavy: 0 18px 60px 0px rgba(0, 0, 0, 0.9),
          0px 4px 8px 0px rgba(0, 0, 0, 0.8);
  --shadow-text: 0px 2px 3px rgba(0, 0, 0, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  height: 100vh;
  background: var(--bg);
  // overscroll-behavior: none;
}

body {
  min-height: 100vh;
  font: normal var(--font)/1.5 var(--system-font);
  background: var(--bg);
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
blockquote,
caption,
ul,
li,
img,
button,
section,
article,
figure,
main,
menu,
footer {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-font);
  text-shadow: var(--shadow-text);
}

h2 {
  font-size: var(--font-md);
  font-weight: 500;
  line-height: 1.4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

figure,
figcaption {
  display: initial;
  position: relative;
}

video,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

// article li {
//   list-style: circle;
// }

// helpers
.debug {
  border: 2px solid hotpink;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: var(--radius-md);
  border: var(--border-light);
  padding-bottom: 0.7rem;
  height: max-content;
  background: var(--bg-vdark);
  box-shadow: var(--shadow-inset);
  overflow-y: scroll;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: var(--z1);
  border-bottom: var(--border);
  padding: var(--unit);
  background: rgb(0,0,0,0.2);
  backdrop-filter: blur(50px);
}

// a11y
:focus {
  // outline: 1px solid rgba(0, 0, 0, 0.2);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}